/* ==========================================================================
   IMPORT
   ========================================================================== */

   @import "normalize";
   @import "vendor/vendor";



/* ==========================================================================
   BORDER-BOX
   ========================================================================== */

	* {
		box-sizing: border-box;
	}



/* ==========================================================================
   TYPOGRAPHY
   ========================================================================== */

   $font-size-base: 16px;
   $line-height-base: $font-size-base * 1.5;
   $baseline: 24px;
   $baseline-em: em(24);
   $font-size-em: em(16);

   @mixin type($fz, $lh) {
   	font-size: $fz;
   	line-height: $lh;
   }

   body {
   	font-family: "Droid Sans Mono";
   	// @include type(16px, 24px);
   }

   h1 {
   	@include type(24px, 36px);
   }

   li {
   	list-style: none;
   	display: inline-block;
   }



/* ==========================================================================
   LAYOUT
   ========================================================================== */

header {
	position: fixed;
	background-color: #ddd;
	width: 100%;
}

.header-container {
	@include outer-container;
	padding: 24px 0 12px;
}


/* LOGO */
.logo {
	padding: 0 12px;
	img {
		height: 48px;
	}
	@include span-columns(2);
}


/* Serach and Filter */
.search {
	@include span-columns(4);
	input[type="text"] {
		@include type(16px, 24px);
		@include span-columns(4 of 4);
		height: 48px;
		padding: 0 12px;
		@include placeholder {
			color: #383F4A;
		}
	}
}

.filter {
		@include span-columns(6);
		@include omega();
	.category,
	.keyword {
		@include span-columns(3 of 6);
		input {
			@include type(16px, 24px);
			@include span-columns(3 of 3);
			height: 48px;
			padding: 0 12px;
			@include placeholder {
				color: #383F4A;
			}
		}
	}
}



/* ==========================================================================
   LAYOUT W/ BOURBON
   ========================================================================== */

// $breakpoints: (
// 	large: (
// 		width: 1088px,
// 		col: 12,
// 		span: 4
// 	),
// 	medium: (
// 		width: 880px,
// 		col:12,
// 		span: 6
// 	),
// 	small: (
// 		with: 640px,
// 		col: 4,
// 		span: 4
// 	)
// );

// @mixin media-queries($width-min, $width-max, $col, $span) {
// 	@include media(min-width $width-min max-width $width-max, $col) {
// 		@include span-columns($span of $col);
// 		&:nth-child(#{($col/$span)}n) {
// 			@include omega();
// 		} 
// 	}
// }


.container {
	// width: calc(100% + 24px);
	// background-color: #ddd;
	@include outer-container;
	padding: 120px 0;
	@include clearfix;
}

.item{
	@include media(min-width 880px, 12) {
		@include span-columns(4 of 12);
		&:nth-child(3n) {
			@include omega();
		}
		img {
			@include span-columns(4 of 4);
			margin-bottom: 24px;
		}
	}
	@include media(min-width 640px max-width 880px, 12) {
		@include span-columns(6 of 12);
		&:nth-child(2n) {
			@include omega();
		}
	}
	margin-bottom: $gutter;
 	background: #eee;
 	
}

figcaption {
	padding: 12px;
}

p {
	margin-bottom: 12px;
}

.name {
	// 	&::before {
	// 		content: '';
	// 		position: absolute;
	// 		top: 78%;
	// 		height: 5px;
	// 		width: 200px;
	// 		display: block;
	// 		background-color: #333;
	// }
	@include type(16px, 24px);
}

.desc {
	@include type(12px, 18px);
}









