/* ==========================================================================
   IMPORT
   ========================================================================== */

   @import "normalize";
   @import "vendor/vendor";



/* ==========================================================================
   BORDER-BOX
   ========================================================================== */

	* {
		box-sizing: border-box;
	}



/* ==========================================================================
   TYPOGRAPHY
   ========================================================================== */

   $font-size-base: 16px;
   $line-height-base: $font-size-base * 1.5;
   $baseline: 24px;
   $baseline-em: em(24);
   $font-size-em: em(16);

   @mixin type($fz, $lh) {
   	font-size: $fz;
   	line-height: $lh;
   }

   body {
   	font-family: "Droid Sans Mono";
   	@include type(16px, 24px);
   }

   h1 {
   	@include type(24px, 36px);
   }

   li {
   	list-style: none;
   	display: inline-block;
   }



/* ==========================================================================
   LAYOUT
   ========================================================================== */

/* Large 
	 1088px
	 container = 12 col
	 item = 4 col*/

	 $large: 1088px;
	 $large-col: 12;
	 $large-span: 4;




/* Medium
	 880px
	 container = 12col
	 item - 6 col*/

	 $medium: 880px;
	 $medium-col: 12;
	 $medium-span: 6;




/* Small 
	 560px
	 container = 4 col
	 item = 4 col*/   

	 $small: 640px;
	 $small-col: 4;
	 $small-span: 4;


$breakpoints: (
	large: (
		width: 1088px,
		col: 12,
		span: 4
	),
	medium: (
		width: 880px,
		col:12,
		span: 6
	),
	small: (
		with: 640px,
		col: 4,
		span: 4
	)
);

@mixin media-queries($width-min, $width-max, $col, $span) {
	@include media(min-width $width-min max-width $width-max, $col) {
		@include span-columns($span of $col);
		&:nth-child(#{($col/$span)}n) {
			@include omega();
		} 
	}
}


.container {
	// background-color: #ddd;
	@include outer-container;
	@include clearfix;
}

.item {
	@include media(min-width 880px, 12) {
		@include span-columns(4 of 12);
		&:nth-child(3n) {
			@include omega();
		}
	}
	@include media(min-width 640px max-width 880px, 12) {
		@include span-columns(6 of 12);
		&:nth-child(2n) {
			@include omega();
		}
	}
	margin-bottom: $gutter;
 	background: #eee;
}

.logo {
	padding: 12px;
	img {
		height: 48px;
	}
	@include span-columns(2);
}

.search {
	form {
		
	}
	padding: 12px 0;
	input[type="text"] {
		@include type(16px, 24px);
		@include span-columns(5);
		// width: $column * 5 + $gutter * 4;
		height: 48px;
		padding: 0 12px;
		@include placeholder {
			color: #383F4A;
		}
	}
}







