/* ==========================================================================
   IMPORT
   ========================================================================== */

   @import "normalize";
   @import "vendor/vendor";



/* ==========================================================================
   BORDER-BOX
   ========================================================================== */

	* {
		box-sizing: border-box;
	}



/* ==========================================================================
   TYPOGRAPHY
   ========================================================================== */

   $font-size-base: 16px;
   $line-height-base: $font-size-base * 1.5;
   $baseline: 24px;
   $baseline-em: em(24);
   $font-size-em: em(16);

   @mixin type($fz, $lh) {
   	font-size: $fz;
   	line-height: $lh;
   }

   body {
   	font-family: "Droid Sans";
   	// background-color: #01C1B2;
   	// @include type(16px, 24px);
   }

   h1 {
   	@include type(24px, 36px);
   }

   li {
   	list-style: none;
   	display: inline-block;
   }



/* ==========================================================================
   LAYOUT
   ========================================================================== */

$max-width: 1230px;



header {
	position: fixed;
	z-index:3;
	background-color: #1E2326;
	width: 100%;
}

.header-container {
	@include outer-container;
	padding: 24px 0;
}


/* LOGO */
.logo {
	padding: 0 12px;
	img {
		height: 48px;
	}
	@include span-columns(2);
}


/* Serach and Filter */

@mixin input-field ($height:48px, $padding: 0 12px, $border: none, $bgc: #444D57) {
	height: $height;
	padding: $padding;
	border: $border;
	background-color: $bgc;
	&:hover {
		background-color: lighten($bgc, 10);
	}
	&:focus {
		background-color: lighten($bgc, 20);
		outline: none;
		@include placeholder {
			opacity:0;
		}
	}
	@include transition(all, 0.3s, ease-in);
	@include placeholder {
		color: lighten($bgc, 40);
	}
}
.search {
	@include span-columns(4);
	input[type="text"] {
		@include type(16px, 24px);
		@include span-columns(4 of 4);
		@include input-field;
	}
}

.filter {
		@include span-columns(6);
		@include omega();
	.category,
	.keyword {
		@include span-columns(3 of 6);
		input {
			@include type(16px, 24px);
			@include span-columns(3 of 3);
			@include input-field;
		}
	}
}



/* ==========================================================================
   LAYOUT W/ BOURBON
   ========================================================================== */

// $breakpoints: (
// 	large: (
// 		width: 1088px,
// 		col: 12,
// 		span: 4
// 	),
// 	medium: (
// 		width: 880px,
// 		col:12,
// 		span: 6
// 	),
// 	small: (
// 		with: 640px,
// 		col: 4,
// 		span: 4
// 	)
// );

// @mixin media-queries($width-min, $width-max, $col, $span) {
// 	@include media(min-width $width-min max-width $width-max, $col) {
// 		@include span-columns($span of $col);
// 		&:nth-child(#{($col/$span)}n) {
// 			@include omega();
// 		} 
// 	}
// }


.container {
	@include outer-container;
	padding: 132px 0;
	@include clearfix;
}

.item{
	@include media(min-width 880px, 12) {
		@include span-columns(4 of 12);
		&:nth-child(3n) {
			@include omega();
		}
		a {
			@include clearfix;
		}
		img {
			@include span-columns(4 of 4);
			// margin-bottom: 24px;
		}
	}
	@include media(min-width 640px max-width 880px, 12) {
		@include span-columns(6 of 12);
		&:nth-child(2n) {
			@include omega();
		}
	}
	margin-bottom: $gutter * 2;
}



figcaption {
	// padding: 24px 0 0;
	border-top: 12px solid #1E2326;
	border-bottom: 12px solid #1E2326;
	background-color: #fff;
}

p {
	margin-bottom: 12px;
}

.name {
	@include type(18px, 24px);
	font-weight: bold;

}

.name-wrapper{
	padding: 18px 18px 6px;
	// border-top: 5px solid #666;
	text-transform: uppercase;

}

.desc-wrapper {
	padding: 0 18px 12px;
	// padding-bottom: 12px;
	border-bottom: 1px solid #aaa;
}

.desc {
	font-family: "Droid Serif", serif;
	@include type(16px, 24px);
	max-height: 96px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
}

.filter-wrapper {
	padding: 18px;
	color: #666;
	@include type(14px, 18px);
}









