<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>100 Days</title>
</head>
<body ng-app="100days" ng-controller="MainController as mainCtrl">
  <header>
    <div class="logo"></div>
    <div class="search">
      <form action="" id="search"></form>
    </div>
    <div class="filter">
      <div class="category"></div>
      <div class="person"></div>
      <div class="keyword"></div>
    </div>
    <div class="sort">
    
    </div>
  </header>
  <ul>
    <li class="person" ng-repeat="person in mainCtrl.list">

      <h4>Name: {{person.name}}</h4>
      <img ng-src={{person.image}}>
      <p> Description: {{person.description}}</p>
      <p> Link: {{person.link}}</p>
      <p> Category: {{person.category}}</p>

      <p> Keywords:</p>
      <ul>
        <li ng-repeat="word in person.keywords">{{word}}</li>
      </ul>

    </li>
  </ul>

  <script src="bower_components/angular/angular.js"></script>
  <script src="app.js"></script>
</body>
</html>