<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>100 Days</title>
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="style.css">
</head>
<body ng-app="100days" ng-controller="MainController as mainCtrl">
  <header>
  <div class="header-container">
    <div class="logo">
      <a href="/">
        <img src="logo-100days.svg" alt="" >
      </a>
    </div>
    <div class="search">
      <form action="" id="search">
        <input tabindex="1" type="text" name="q" id="search-query" placeholder="Search" class="search-query" value="">
      </form>
    </div>
    <div class="filter">
      <div class="category">
<!--         <label>Category</label> -->
        <input ng-model="dataFilter.category" placeholder="Category">
      </div>
      <div class="keyword">
<!--         <label>Keywords</label> -->
        <input ng-model="dataFilter.keywords" placeholder="Keyword">
      </div>
    </div>
    <div class="sort">

    </div>
  </div>
  </header>
  <div class="slideout">

  </div>
  <section class="container">
    <article class="item" ng-repeat="person in mainCtrl.list| filter:dataFilter:strict">
      <figure>
        <a href="{{person.link}}"><img ng-src={{person.image}}></a>
        <figcaption>
          <div class="name-wrapper">
            <p class="name">{{person.name}} - 100 Days of {{person.category}}</p>
          </div>
          <div class="desc-wrapper">
            <p class="desc">{{person.description}}</p>
          </div>
          <div class="filter-wrapper">
            <p class="category">{{person.category}}</p>
            <ul class="keywords">
              <li class="keyword" ng-repeat="word in person.keywords">{{word}}</li>
            </ul>
          </div>
        </figcaption>
      </figure>
    </article>
   <!--  <ul>
      <li class="person" ng-repeat="person in mainCtrl.list| filter:dataFilter:strict">

        <h4>Name: {{person.name}}</h4>
        <img ng-src={{person.image}}>
        <p> Description: {{person.description}}</p>
        <p> Link: {{person.link}}</p>
        <p> Category: {{person.category}}</p>

        <p> Keywords:</p>
        <ul>
          <li ng-repeat="word in person.keywords">{{word}}</li>
        </ul>

      </li>
    </ul> -->
  </section>
  <script src="bower_components/tabletop/src/tabletop.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="js/3rdParty.js"></script>
  <script src="js/app.js"></script>
</body>
</html>