<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>100 Days</title>
  <link href='http://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="style.css">
</head>
<body ng-app="100days" ng-controller="MainController as mainCtrl">
  <header>
    <div class="logo">
      <h1>#100daysof</h1>
    </div>
    <div class="menu">
      
    </div>
  </header>
  <div class="slideout">
    <div class="search">
      <form action="" id="search"></form>
    </div>
    <div class="filter">
      <div class="category">
        <label>Category</label>
        <input ng-model="dataFilter.category">
      </div>
      <div class="keyword">
        <label>Keywords</label>
        <input ng-model="dataFilter.keywords">
      </div>
    </div>
    <div class="sort">

    </div>
  </div>
  <ul>
    <li class="person" ng-repeat="person in mainCtrl.list | filter:dataFilter:strict">

      <h4>Name: {{person.name}}</h4>
      <img ng-src={{person.image}}>
      <p> Description: {{person.description}}</p>
      <p> Link: {{person.link}}</p>
      <p> Category: {{person.category}}</p>

      <p> Keywords:</p>
      <ul>
        <li ng-repeat="word in person.keywords">{{word}}</li>
      </ul>

    </li>
  </ul>

  <script src="bower_components/angular/angular.js"></script>
  <script src="app.js"></script>
</body>
</html>